* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
code {
    display: inline-table;
    text-align: center;
}
pre {
    display: table;
    text-align: left;
    justify-content: center;
    color: #e83e8c;
}
html,body {
  padding:0;
  margin:0;
}
body {
    height: calc(100vh - 0.45em);
    width: calc(100vw - 0.45em);
    overflow:none;
}
div.container-fluid:first-child {
   overflow:none;
}
input[type=file] {
  display:none;
}
.table td, .table th {
    padding: 0.25rem;
}

span.custom-card-title {
    font-variant: all-petite-caps;
}

.pyWrapper {
    width:100%;
    height:100%;
    overflow:auto;
}
div.card {
    border:none;
}
#copyrightBanner {
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
    padding: 0.45rem 0.35rem;
    margin-block-start: 0;
    margin-block-end: 0;
    position: absolute;
    top: 0;
    z-index: 50;
    left: 0;
    right: 0;
}